{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}

    <style>
        .validation {
            border:8px solid yellow;

            background-color: red;
            color: white;

        }
    </style>
    <style>
        .highlight {
            background-color: #5E7607;
            color: white;
        }

        .modal-confirm {
            color: #636363;
            width: 355px;
            display: block;
        }
        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }
        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
            display: block;
        }
        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }
        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }
        .modal-confirm .modal-body {
            color: #999;
        }
        .modal-confirm .modal-footer {
            border: none;
            display: block;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }
        .modal-confirm .modal-footer a {
            color: #999;
        }
        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid royalblue;
        }
        .modal-confirm .icon-box i {
            color: royalblue;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }
        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }
        .modal-confirm .btn-info {
            background: royalblue;
        }
        .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
            background: #a8a8a8;
        }
        .modal-confirm .btn-danger {
            background: #f15e5e;
        }
        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }
        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
{% endblock %}
{% block main %}

    <!-- MODAL Salaire -->
    <div class="modal fade" id="ModalSalaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Details Salaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="SalaireDetail" class="modal-body">
                    <div class="table-responsive">

                        <table id="example9" class="table table-bordered table-striped m-0 ">
                            <thead class="thead">
                            <tr>
                                <th>Salaire Marche Act</th>
                                <th>Salaire Rotation</th>
                                <th>Salaire Doublage</th>
                                <th>Salaire Repos</th>
                                <th>Total Avance</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 18px">

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DETAIL -->
    <div class="modal fade" id="ModalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="HeaderDetail" class="modal-header">
                    <h5 class="modal-title" id="LabelModelDetail"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="example8" class="table table-bordered table-striped m-0 ">
                            <thead class="thead">
                            <tr>
                                <th>Marche</th>
                                <th>Date</th>
                                <th>Role</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 18px">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">

                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-info" role="alert">

                            </div>
                            <p style="color:white">&nbsp;Chargement...</p>
                        </div>
                    </div>




        </div>
    </div>

    <!-- Confirmation Modifier  -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    </div>
                    <h4 class="modal-title">Voulez vous vraiment modifier la presence ?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>

                    <button onclick="return ConfirmerModification()" type="button" class="btn btn-info">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart Modal -->
    <div class="modal fade" id="modal-chart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div id="modalcont" class="modal-body">
                    <canvas id="myChart"></canvas>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-xl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Presence {{ datee }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div id="modalcont" class="modal-body">
                    <div class="table-responsive">
                            <table id="example1" class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Present</th>
                                    <th>Absent</th>
                                    <th>Repos</th>
                                    <th>Jour / Nuit</th>
                                    <th>type</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for emp in listEmp %}
                                    {% set TotalRepos =  render(controller(
                                        'AppBundle:Presence:Repos', { 'idMarche': idMarche , 'date': "now"|date("Y-m") , 'idEmp': emp.idEmp }
                                        ))  %}
                                    <tr id="validation{{ emp.idEmp  }}">
                                        <td id="{{ emp.idEmp }}">{{ emp.idEmp }}</td>
                                        <td>{{ emp.nom }}</td>
                                        <td>{{ emp.prenom }}</td>
                                        <td><input type="checkbox"  name="scales{{ emp.idEmp  }}" value="1"/></td>
                                        <td><input type="checkbox"  name="scales{{ emp.idEmp  }}" value="0" /></td>
                                        {% if TotalRepos >= marche.nbrrepos %}
                                        <td><input type="checkbox"  name="scales{{ emp.idEmp  }}" value="2" disabled="true"/></td>
                                        {% else %}
                                            <td><input type="checkbox"  name="scales{{ emp.idEmp  }}" value="2"/></td>
                                        {% endif %}
                                        <td><select class="form-control" id="journuit{{ emp.idEmp  }}">
                                                <option value="jour">Jour</option>
                                                <option value="nuit">Nuit</option>
                                            </select></td>
                                        <td></td>
                                    </tr>

                                {% endfor %}

                                {% for affection in affectations %}
                                    {% set TotalRepos =  render(controller(
                                        'AppBundle:Presence:Repos', { 'idMarche': affection.idAgent.idMarche , 'date': "now"|date("Y-m") , 'idEmp': affection.idAgent.idEmp }
                                        ))  %}
                                    <tr style="background-color: #ECE1AE">
                                        <td id="{{ affection.idAgent.idEmp }}">{{ affection.idAgent.idEmp }}</td>
                                        <td>{{ affection.idAgent.nom }}</td>
                                        <td>{{ affection.idAgent.prenom }}</td>
                                        <td><input type="checkbox"  name="agent{{ affection.idAgent.idEmp  }}" value="1"/></td>
                                        <td><input type="checkbox"  name="agent{{ affection.idAgent.idEmp  }}" value="0"/></td>
                                        {% if TotalRepos >= marche.nbrrepos %}
                                        <td><input type="checkbox"  name="agent{{ affection.idAgent.idEmp  }}" value="2" disabled="true"/></td>
                                        {% else %}
                                            <td><input type="checkbox"  name="agent{{ affection.idAgent.idEmp  }}" value="2"/></td>
                                         {% endif %}
                                        <td><select class="form-control" id="agentjournuit{{ affection.idAgent.idEmp  }}">
                                                <option value="{{affection.type}}">{{affection.type}}</option>
                                            </select></td>
                                        <td style="color: darkslateblue"><b>{{ affection.role }}</b></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="return EnregisterAbsence()" class="btn btn-primary">Enregistrer</button>
                </div>
                <center> <p style="color:red;" id="lignemanquante" hidden>Ligne manquante</p></center>
            </div>
        </div>
    </div>

    <!-- Modal Modifier -->
    <div class="modal fade" id="modal-xl-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Presence {{ datee}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div id="modalcont" class="modal-body">
                    <div class="table-responsive">
                        <table id="example3" class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Present</th>
                                <th>Absent</th>
                                <th>Repos</th>
                                <th>Jour / Nuit</th>
                                <th>Role</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for p in todayPresence %}
                                {% if p.idAgent %}
                                    {% if p.etat == 3  %}
                                    <tr class="unagent" style="background-color: red" onchange="return latest(this)">
                                        <td id="idPresence">{{ p.idPresence }}</td>
                                        <td style="font-size: 20px">{{ p.idAgent.nom }}</td>
                                        <td style="font-size: 20px">{{ p.idAgent.prenom }}</td>

                                        <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="1"/></td>
                                        <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="0" /></td>
                                        <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="2" /></td>

                                        <td><select class="form-control" id="agentjournuit{{ p.idAgent.idEmp  }}">
                                                <option value="{{p.type}}">{{p.type}}</option>
                                            </select></td>
                                        <td style="color: darkslateblue"><b>{{p.role}}</b></td>
                                    </tr>
                                    {% else %}
                                        <tr class="unagent" style="background-color: #ECE1AE" onchange="return latest(this)">
                                            <td id="idPresence">{{ p.idPresence }}</td>
                                            <td style="font-size: 20px">{{ p.idAgent.nom }}</td>
                                            <td style="font-size: 20px">{{ p.idAgent.prenom }}</td>
                                            {% if p.etat == 1 %}
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="1" checked/></td>
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="0" /></td>
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="2" /></td>
                                            {%  elseif p.etat == 0  %}
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="1"/></td>
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="0" checked/></td>
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="2" /></td>
                                            {%  elseif p.etat == 2  %}
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="1"/></td>
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="0" /></td>
                                                <td><input type="checkbox" id="agent{{ p.idAgent.idEmp  }}" name="agent{{ p.idAgent.idEmp  }}" value="2" checked/></td>
                                            {% endif %}
                                            <td><select class="form-control" id="agentjournuit{{ p.idAgent.idEmp  }}">
                                                    <option value="{{p.type}}">{{p.type}}</option>
                                                </select></td>
                                            <td style="color: darkslateblue"><b>{{p.role}}</b></td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    {% if p.etat == 3  %}
                                        <tr style="background-color: red ; color: white " onchange="return latest(this)">
                                            <td id="idPresence">{{ p.idPresence }}</td>
                                            <td style="font-size: 20px">{{ p.idEmp.nom }}</td>
                                            <td style="font-size: 20px">{{ p.idEmp.prenom }}</td>

                                            <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="1"/></td>
                                            <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="0" /></td>
                                            <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="2" /></td>

                                            <td><select class="form-control" id="journuit{{ p.idEmp.idEmp  }}">
                                                    {% if p.type == "jour" %}
                                                    <option value="{{p.type}}">{{p.type}}</option>
                                                        <option value="nuit">nuit</option>
                                                    {% else %}
                                                        <option value="{{p.type}}">{{p.type}}</option>
                                                        <option value="jour">jour</option>
                                                    {% endif %}
                                                </select></td>
                                            <td></td>
                                        </tr>

                                    {% else %}
                                        <tr onchange="return latest(this)">
                                            <td id="idPresence">{{ p.idPresence }}</td>
                                            <td style="font-size: 20px">{{ p.idEmp.nom }}</td>
                                            <td style="font-size: 20px">{{ p.idEmp.prenom }}</td>
                                            {% if p.etat == 1 %}
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="1" checked/></td>
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="0" /></td>
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="2" /></td>
                                            {%  elseif p.etat == 0  %}
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="1"/></td>
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="0" checked/></td>
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="2" /></td>
                                            {% elseif p.etat == 2 %}
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="1"/></td>
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="0" /></td>
                                                <td><input type="checkbox" id="scales{{ p.idEmp.idEmp  }}" name="scales{{ p.idEmp.idEmp  }}" value="2" checked/></td>
                                            {% endif %}
                                            <td><select class="form-control" id="journuit{{ p.idEmp.idEmp  }}">
                                                    {% if p.type == "jour" %}
                                                        <option value="{{p.type}}">{{p.type}}</option>
                                                        <option value="nuit">nuit</option>
                                                    {% else %}
                                                        <option value="{{p.type}}">{{p.type}}</option>
                                                        <option value="jour">jour</option>
                                                    {% endif %}
                                                </select></td>
                                            <td></td>
                                        </tr>
                                        {% endif %}
                                {% endif %}

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="return ModifierAbsence()" class="btn btn-primary">Modifier</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="row">
                <img style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" src="{{ vich_uploader_asset(marche, 'imageFile') }}"/>


                <div class="col-12">
                    <div class="card card-primary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Presence</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">List des employes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Rapport</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-header border-transparent">
                                                    <label><b>Date : </b></label>
                                                    <input id="taherDate" value="{{ datee}}" class="form-group col-md-6" type="date" max='{{ "now"|date("Y-m-d") }}' />

                                                    {% if todayPresence is empty %}

                                                        <button style="float: right" type="button" class="btn btn-success col-md-2" data-toggle="modal" data-target="#modal-xl"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter Presence</button>

                                                    {% else  %}
                                                        <button style="float: right" type="button" class="btn btn-primary col-md-2" data-toggle="modal" data-target="#modal-xl-2"><i class="fa fa-pen" aria-hidden="true"></i> Modifier Presence</button>

                                                    {% endif %}
                                                    <div class="card-tools">

                                                    </div>

                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body p-0">
                                                    <div class="table-responsive">
                                                        <table id="example2" class="table m-0">
                                                            <thead>
                                                            <tr>
                                                                <th>Code Employe</th>
                                                                <th>Nom</th>
                                                                <th>Prenom</th>
                                                                <th>Etat</th>
                                                                <th>Jour / Nuit</th>
                                                                <th>Role</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for p in todayPresence %}
                                                                {% if p.idAgent %}
                                                                    {% if p.etat != 3 %}
                                                                    <tr style="background-color: #ECE1AE">
                                                                        <td>{{ p.idAgent.idEmp }}</td>
                                                                        <td style="font-size: 20px">{{ p.idAgent.nom }}</td>
                                                                        <td style="font-size: 20px">{{ p.idAgent.prenom }}</td>

                                                                        {% if  p.etat == 1 %}
                                                                            <td style="font-size: 20px"><span class="badge badge-success">Present</span></td>

                                                                        {% elseif  p.etat == 0 %}
                                                                            <td style="font-size: 20px"><span class="badge badge-danger">Absent</span></td>
                                                                        {% elseif p.etat == 2 %}
                                                                            <td style="font-size: 20px"><span class="badge badge-warning">Repos</span></td>

                                                                        {% endif %}
                                                                        {% if p.type == "nuit" %}
                                                                            <td style="font-size: 20px"><span class="badge badge-dark">{{ p.type }}</span></td>
                                                                        {% else  %}
                                                                            <td style="font-size: 20px"><span class="badge badge-info">{{ p.type }}</span></td>
                                                                        {% endif %}
                                                                        <td style="color: darkslateblue"><b>
                                                                                {% for aff in affectations %}
                                                                                    {% if aff.idAgent == p.idAgent %}
                                                                                    {{ aff.role }}
                                                                        {% endif %}
                                                                                {% endfor %}
                                                                            </b></td>
                                                                    </tr>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if p.etat != 3 %}
                                                                        <tr>
                                                                            <td>{{ p.idEmp.idEmp }}</td>
                                                                            <td style="font-size: 20px">{{ p.idEmp.nom }}</td>
                                                                            <td style="font-size: 20px">{{ p.idEmp.prenom }}</td>

                                                                            {% if  p.etat == 1 %}
                                                                                <td style="font-size: 20px"><span class="badge badge-success">Present</span></td>

                                                                            {% elseif  p.etat == 0 %}
                                                                                <td style="font-size: 20px"><span class="badge badge-danger">Absent</span></td>
                                                                            {% elseif p.etat == 2 %}
                                                                                <td style="font-size: 20px"><span class="badge badge-warning">Repos</span></td>


                                                                            {% endif %}
                                                                            {% if p.type == "nuit" %}
                                                                                <td style="font-size: 20px"><span class="badge badge-dark">{{ p.type }}</span></td>
                                                                            {% else  %}
                                                                                <td style="font-size: 20px"><span class="badge badge-info">{{ p.type }}</span></td>
                                                                            {% endif %}
                                                                            <td></td>
                                                                        </tr>
                                                                    {% endif %}


                                                            {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.table-responsive -->
                                                </div>
                                                <!-- /.card-body -->
                                                <!-- /.card-footer -->
                                            </div></div>
                                        <!-- Default box -->


                                        <!-- /.card -->


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                    <div class="col-md-12">
                                        <!-- USERS LIST -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">List des Employes</h3>

                                                <div class="card-tools">
                                                    <span class="badge badge-danger">8 New Members</span>
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">
                                                <div class="table-responsive">
                                                    <table id="example1" class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Nom</th>
                                                            <th>Prenom</th>
                                                            <th>Action</th>


                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for emp in listEmp %}
                                                            <tr id="validation{{ emp.idEmp  }}">
                                                                <td id="{{ emp.idEmp }}">{{ emp.idEmp }}</td>
                                                                <td>{{ emp.nom }}</td>
                                                                <td>{{ emp.prenom }}</td>
                                                                <td><button class="btn btn-primary">Ajouter Avance</button></td>
                                                            </tr>

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.users-list -->
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer text-center">
                                                <a href="#">View All Users</a>
                                            </div>
                                            <!-- /.card-footer -->
                                        </div>
                                        <!--/.card -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                                <input id="monthYear" type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                                <button class="btn btn-success" onclick="return SearchRendement(this)"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="example4" class="table table-bordered table-striped m-0 ">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>Total Presence</th>
                                                <th>Total Absence</th>
                                                <th>Total Repos</th>
                                                <th>Salaire a payer</th>
                                            </tr>
                                            </thead>
                                            <tbody style="font-size: 18px">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                </div>

            </div>
            <center><div  class="d-flex justify-content-center">
                    <div style="display: none ;  position: fixed;
  z-index: 1;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;" class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div></center>



    </section>

{% endblock %}

{% block javascript %}
{{ parent() }}
<!-- Select2 -->
<script src="{{ asset('admin/plugins/select2/js/select2.full.min.js') }}"></script>
<!-- InputMask -->
<script src="{{ asset('admin/plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('admin/plugins/inputmask/min/jquery.inputmask.bundle.min.js') }}"></script>
<!-- date-range-picker -->
<script src="{{ asset('admin/plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset('admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>


<!-- DataTables -->
<script src="{{ asset('admin/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('admin/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.21/api/sum().js"></script>
    <!-- Page specific script -->
    <script>

    $(document).ready( function () {
        $("#presence-nav-link").addClass('active');
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
      "paging": false
    });

     $("#example2").DataTable({
     dom: 'Bfrtip',
         buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                className: 'btn btn-info glyphicon glyphicon-search'

            },
            {
                 extend: 'excelHtml5',
                messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                className: 'btn btn-info glyphicon glyphicon-search'
            }
        ],
      "responsive": true,
      "autoWidth": false,
      "info":false,
      "paging": false
    });

     $("#example3").DataTable({
      "responsive": true,
      "autoWidth": false,
      "info":false,
      "paging": false
    });

     $("#example8").DataTable({
      "responsive": true,
      "autoWidth": false,
      "info":false,
      "paging": false
    });


     $("#example9").DataTable({
      "responsive": true,
      "autoWidth": false,
      "info":false,
      "paging": false
    });

      $("#example4").DataTable({
      "responsive": true,
      "autoWidth": false,
      "info":false,
      "bPaginate": false,
      dom: 'Bfrtip',
         buttons: [
            {
                extend: 'pdfHtml5',
                messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                className: 'btn btn-info glyphicon glyphicon-search'

            },
            {
                 extend: 'excelHtml5',
                messageTop: 'PDF created by PDFMake with Buttons for DataTables.',
                className: 'btn btn-info glyphicon glyphicon-search'
            }
        ]

    });

} );

    </script>

    <script>
  $(function () {

    //Date range picker
    $('#reservationdate').datetimepicker({
        viewMode: 'years',
                format: 'MM/YYYY',
                maxDate: new Date(new Date().getFullYear(), new Date().getMonth()),

    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })

$(function() {

    $("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});

$("#taherDate").on("change", function (e) {

  /*  let current_datetime = new Date($(this).val());
let formatted_date = current_datetime.getDate() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getFullYear();
  alert(formatted_date);*/
var url = '{{ path("consulter_marcher", {'idMarche': 'idMarche' ,  'date': 'date' }) }}';
                url = url.replace("idMarche", {{ idMarche }});
                url = url.replace("date", $(this).val());
  window.location.replace(url);
});

});

</script>

<script>

function latest(thisRow){

    $(thisRow).addClass("changed");
}

function checkValidation(){
    var test = true ;
    {% for emp in listEmp %}
     var i = 0 ;
      $("input:checkbox[name='scales{{ emp.idEmp }}']").each(function(){

            if($(this).prop("checked") == false){
                console.log("Checkbox is not checked.");
                i++;
            }

            else {
                $("#validation{{ emp.idEmp  }}").removeClass('validation');
            }

        });

      if ( i == 3 ){
          console.log("validation");
          $("#validation{{ emp.idEmp  }}").addClass('validation');
          $("#lignemanquante").show();
          test = false ;
      }

     {% endfor %}

     return test;
}

function EnregisterAbsenceAgentRotation(){
            {% for affectation in affectations %}
               var i= 0 ;
     $("input:checkbox[name='agent{{ affectation.idAgent.idEmp }}']").each(function()
{
    if($(this).is(':checked')){
         i++;
               var url = '{{ path("presence_agent_api_new", {'idMarche': 'idMarche' ,  'idAgent': 'idAgent' , 'etat': 'etat' , 'date':'date' ,'type':'type' , 'role':'role'} ) }}';
                url = url.replace("idMarche", {{ idMarche }});
                url = url.replace("idAgent", {{ affectation.idAgent.idEmp }});
                url = url.replace("etat", $(this).val());
                url = url.replace("date", $("#taherDate").val());
                url = url.replace("type", $( "#agentjournuit{{ affectation.idAgent.idEmp }} option:selected" ).val());
                url = url.replace("role", '{{ affectation.role }}');
                $.ajax({
                    url: url,
                    success: function(data) {
                    },
                    error: function() {
                        // show alert or something
                    },
                    complete: function(){
                    }
                });
    }
})

if(i==0){

    var url = '{{ path("presence_agent_api_new", {'idMarche': 'idMarche' ,  'idAgent': 'idAgent' , 'etat': 'etat' , 'date':'date' ,'type':'type' ,'role':'role'} ) }}';
                url = url.replace("idMarche", {{ idMarche }});
                url = url.replace("idAgent", {{ affectation.idAgent.idEmp }});
                url = url.replace("etat", null);
                url = url.replace("date", $("#taherDate").val());
                url = url.replace("type", $( "#agentjournuit{{ affectation.idAgent.idEmp }} option:selected" ).val());
                url = url.replace("role", '{{ affectation.role }}');
                $.ajax({
                    url: url,
                    success: function(data) {
                    },
                    error: function() {
                        // show alert or something
                    },
                    complete: function(){
                    }
                });

}
{% endfor %}

}

function EnregisterAbsenceAgentNormal(){

            {% for emp in listEmp %}
            var i= 0 ;
     $("input:checkbox[name='scales{{ emp.idEmp }}']").each(function()
{
    if($(this).is(':checked')){
        i++;
        var url = '{{ path("presence_api_new", {'idMarche': 'idMarche' ,  'idEmp': 'idEmp' , 'etat': 'etat' , 'date':'date' ,'type':'type'} ) }}';
                url = url.replace("idMarche", {{ idMarche }});
                url = url.replace("idEmp", {{ emp.idEmp  }});
                url = url.replace("etat", $(this).val());
                url = url.replace("date", $("#taherDate").val());
                url = url.replace("type", $( "#journuit{{ emp.idEmp }} option:selected" ).val());


                $.ajax({
                    url: url,

                    success: function(data) {
                       location.reload();
                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){

                    }
                });

    }

})

if (i == 0 ){

    var url = '{{ path("presence_api_new", {'idMarche': 'idMarche' ,  'idEmp': 'idEmp' , 'etat': 'etat' , 'date':'date' ,'type':'type'} ) }}';
                url = url.replace("idMarche", {{ idMarche }});
                url = url.replace("idEmp", {{ emp.idEmp  }});
                url = url.replace("etat", null);
                url = url.replace("date", $("#taherDate").val());
                url = url.replace("type", $( "#journuit{{ emp.idEmp }} option:selected" ).val());


                $.ajax({
                    url: url,

                    success: function(data) {
                      location.reload();
                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){

                    }
                });

}
{% endfor %}
            location.reload();
}
    function EnregisterAbsence(){
$('#modal-xl').on('hidden.bs.modal', function (e) {
    $(".row").hide();
  $("#myModal2").modal('show');
});
        $("#modal-xl").modal('hide');



          {% if affectations %}
        EnregisterAbsenceAgentRotation();
      {% endif %}
        EnregisterAbsenceAgentNormal();
    }


    function ShowDetailSalaire(idEmp){
    var table = $("#example9").DataTable();
    var str = $("#monthYear").val();

var month = str.substring(0, str.lastIndexOf("/"));
var year = str.substring(str.lastIndexOf("/") + 1, str.length);

var dateSearch = year+"-"+month;


$('#ModalSalaire').modal('show');
        var url = '{{ path("detail_salaire_par_mois", {'idEmp': 'idEmp' ,  'date': 'date'} ) }}';
                url = url.replace("date", dateSearch);
                url = url.replace("idEmp", idEmp);

                 $.ajax({
                    url: url,

                    success: function(data) {

                            var rowNode = table.row.add( [
           data.TotalMarche+' DT',
           data.TotalRotation+' DT',
          data.TotalDoublage+' DT',
           data.SalaireRepos+' DT',
           data.TotalAvance + ' DT'
        ] ).draw( false );
                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){

                    }
                });

                 $('#ModalSalaire').on('hidden.bs.modal', function (e) {


table
    .clear()
    .draw();
});

    }

    function ShowDetailModal(idEmp , etat , typeModal){
    $("#LabelModelDetail").html(typeModal);
    if ( etat == 1){
            $("#HeaderDetail").css({"background-color":"#28a745" , "color":"white"});

    }
    else if ( etat == 0 ){
        $("#HeaderDetail").css({"background-color":"#e10000" , "color":"white"});
    }

    else {
         $("#HeaderDetail").css({"background-color":"#e99805" , "color":"white"});
    }
    var table = $("#example8").DataTable();
    var str = $("#monthYear").val();

var month = str.substring(0, str.lastIndexOf("/"));
var year = str.substring(str.lastIndexOf("/") + 1, str.length);

var dateSearch = year+"-"+month;


$('#ModalDetail').modal('show');
        var url = '{{ path("details_par_mois", {'etat': 'etat' ,  'date': 'date' , 'idEmp':'idEmp'} ) }}';
                url = url.replace("etat", etat);
                url = url.replace("date", dateSearch);
                url = url.replace("idEmp", idEmp);

                 $.ajax({
                    url: url,

                    success: function(data) {
$.each(data, function(i) {
  var rowNode = table.row.add( [
           data[i].marche,
           data[i].date,
           data[i].role,
           data[i].type
        ] ).draw( false );
});
                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){

                    }
                });

$('#ModalDetail').on('hidden.bs.modal', function (e) {


table
    .clear()
    .draw();
});
    }

    function SearchRendement(bout){
        bout.disabled= true;

    var str = $("#monthYear").val();

var month = str.substring(0, str.lastIndexOf("/"));
var year = str.substring(str.lastIndexOf("/") + 1, str.length);

var dateSearch = year+"-"+month;
var table = $("#example4").DataTable();
table.clear().draw();

{% for emp in listEmp %}

                var url = '{{ path("total_absence_presence_par_mois", {'idMarche': 'idMarche' ,  'idEmp': 'idEmp' , 'date':'date'} ) }}';
                url = url.replace("idMarche", {{ idMarche }});
                url = url.replace("idEmp", {{ emp.idEmp  }});
                url = url.replace("date", dateSearch);

                $.ajax({
                    url: url,

                    success: function(data) {

                        if ($.trim(data)){
                             var rowNode = table.row.add( [
            {{ emp.idEmp  }},
            data.nom,
            data.Prenom,
            ' <button class=\"btn btn-success\" onclick=\"return ShowDetailModal({{ emp.idEmp }} , 1 , \'Details Presence\')\">'+data.TotalPresence+'</button>' ,
            ' <button class=\"btn btn-danger\" onclick=\"return ShowDetailModal({{ emp.idEmp }} , 0 , \'Details Absence\')\">'+data.TotalAbsence+'</button>',
            ' <button class=\"btn btn-warning\" onclick=\"return ShowDetailModal({{ emp.idEmp }} , 2 , \'Details Repos\')\">'+data.TotalRepos+'</button>',
            ' <button class=\"btn btn-info\" onclick=\"return ShowDetailSalaire({{ emp.idEmp }})\">'+data.Salaire+' DT</button>'
        ] ).draw( false );

                         }

                        else {


                        }

                        addData(data.nom , data.TotalPresence);

                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){
                        bout.disabled= false;
                    }
                });

                {% endfor %}
var url2 = '{{ path("total_salaire", {'date': 'date' , 'idMarche':'idMarche'} ) }}';
                url2 = url2.replace("date", dateSearch);
                url2 = url2.replace("idMarche", {{ marche.idMarche }});
                $.ajax({
                    url: url2,

                    success: function(data) {

                            if ($.trim(data)){
                                   var rowNode = table.row.add( [
            '',
            '',
            '',
            '',
            '' ,
            '',
            'Total : ' + data + ' DT'
        ] ).draw( false );



                         }
                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){
                        bout.disabled= false;
                    }
                });
}


</script>
 <script type="text/javascript">
        $(function () {
            $('#datetimepicker10').datetimepicker({
                viewMode: 'years',
                format: 'MM/YYYY'
            });
        });
    </script>

    <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: '# of Votes',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

function CreateChart(){

}

function addData(label, data) {
    myChart.data.labels.push(label);
    myChart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    myChart.update();
}

function dynamicColors() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgba(" + r + "," + g + "," + b + ", 0.5)";
}

function poolColors(a) {
    var pool = [];
    for(i = 0; i < a; i++) {
        pool.push(dynamicColors());
    }
    return pool;
}
</script>

<script>
function ModifierAbsence() {

    $('#modal-xl-2').modal('hide');
    $('#myModal').modal('show');


}

function ConfirmerModification(){
    $('.changed').each(function(i) {

   var idPres =  $(this).find('#idPresence').html();


   if( $(this).hasClass( "unagent" ) ){
    $(this).find('input[type=checkbox]').each(function() {
   if ($(this).is(":checked")) {
        var url = '{{ path("presence_agent_api_modifier", {'idPresence': 'idPresence' , 'etat': 'etat' } ) }}';
                url = url.replace("idPresence", idPres);
                url = url.replace("etat", $(this).val());
                $.ajax({
                    url: url,
                    success: function(data) {
                    },
                    error: function() {
                        // show alert or something
                    },
                    complete: function(){
                    }
                });
   }
});
   }
   else {
       var type = $(this).find("option:selected").val();

$(this).find('input[type=checkbox]').each(function() {
   if ($(this).is(":checked")) {

        var url = '{{ path("presence_api_modifier", {'idPresence': 'idPresence' , 'etat': 'etat' , 'type' :'type' } ) }}';
                url = url.replace("idPresence", idPres);
                url = url.replace("etat", $(this).val());
                url = url.replace("type", type);
                $.ajax({
                    url: url,
                    success: function(data) {
                    },
                    error: function() {
                        // show alert or something
                    },
                    complete: function(){
                    }
                });
   }
});

   }
});
  location.reload();
}
</script>


{% endblock %}


