{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block head %}
    {{ parent() }}

    <style>
        .center_div{
            margin: 0 auto;
            width:80% /* value of your choice which suits your alignment */
        }
    </style>
{% endblock %}
{% block main %}
<center><h1>Editer Marche</h1></center>
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
        {{ form_start(edit_form, { 'attr': {'class': 'center_div'} }) }}
        {{ form_errors(edit_form) }}



        <div>
            {{ form_row(edit_form.libellle) }}

        </div>

        <div>
            {{ form_row(edit_form.nbrrepos) }}
        </div>

        <div>
            {{ form_row(edit_form.spjfixe) }}

        </div>

        <div>
            {{ form_row(edit_form.spjchef) }}
        </div>

        <div>
            {{ form_row(edit_form.adresse) }}

        </div>

        <div>
            {{ form_row(edit_form.tel) }}

        </div>

        <div>
            {{ form_row(edit_form.imageFile) }}
        </div>
    <center><div>
            <a type="button" class="btn btn-outline-success" href="{{ path('marche_index2') }}">Retour a la liste</a>
            <button type="submit" class="btn btn-primary">Editer</button>
        </div></center>

        {{ form_end(edit_form) }}

{% endblock %}
