{% extends 'base.html.twig' %}

{% block main %}
    <h1>Employes list</h1>
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Identifiant Employe</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numero Telephone</th>
            <td> </td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        {% for employe in employes %}
        <div class="card">

            <!-- /.card-header -->
            <div class="card-body">

        <tbody>
        <tr>
            <td> {{ employe.idEmp }} </td>
            <td>{{ employe.nom }}</td>
            <td>{{ employe.prenom }} </td>
            <td>{{ employe.tel }}</td>
            <td> <img src="{{ asset('images/employe/' ~ employe.imageName) }}" style="height: 150px;width: 150px"></td>
            <td>  <a href="{{ path('employe_delete',{ 'idEmp': employe.idEmp }) }}"> Supprimer</a> </td>
            <td>  <a href="{{ path('employe_edit',{ 'idEmp': employe.idEmp }) }}"> Modifier</a> </td>
        </tr>
        </tbody>

        </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
        {% endfor %}
        </tbody>
    </table>

{% endblock %}