{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block head %}
    {{ parent() }}

    <style>
        .highlight {
            background-color: #5E7607;
            color: white;
        }

        .modal-confirm {
            color: #636363;
            width: 355px;
            display: block;
        }
        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }
        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
            display: block;
        }
        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }
        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }
        .modal-confirm .modal-body {
            color: #999;
        }
        .modal-confirm .modal-footer {
            border: none;
            display: block;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }
        .modal-confirm .modal-footer a {
            color: #999;
        }
        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }
        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }
        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }
        .modal-confirm .btn-info {
            background: #c1c1c1;
        }
        .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
            background: #a8a8a8;
        }
        .modal-confirm .btn-danger {
            background: #f15e5e;
        }
        .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }
        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
    <style>
        .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
        .toggle.ios .toggle-handle { border-radius: 20px; }
    </style>
    <link href="{{ asset('admin/dist/css/alt/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <!-- Confirmation Modifier  -->
    <div id="ModificationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box text-warning">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    </div>
                    <h4 id="ModalMessage" class="modal-title"></h4>
                    <button onclick="location.reload()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button onclick="location.reload()" type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <div style="display: inline-block" id="EnableDisable"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ajouter -->
    <div class="modal fade" id="ModalAjout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nouveau Employe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form, { 'attr': {'class': 'center_div'} }) }}
                    {{ form_errors(form) }}



                    <div>
                        {{ form_row(form.nom) }}

                    </div>

                    <div>
                        {{ form_row(form.prenom) }}
                    </div>

                    <div>
                        {{ form_row(form.situationFamiliale) }}

                    </div>

                    <div>
                        {{ form_row(form.cin) }}
                    </div>

                    <div>
                        {{ form_row(form.adresse) }}

                    </div>

                    <div>
                        {{ form_row(form.email) }}

                    </div>

                    <div>
                        {{ form_row(form.tel) }}
                    </div>

                    <div style="font-weight: bold">
                        {{ form_row(form.dateEmbauche) }}

                    </div>

                    <div>
                        {{ form_row(form.cnss) }}
                    </div>

                    <div>
                        {{ form_row(form.idMarche) }}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    <h4 class="modal-title">Voulez vous vraiment supprimer cet employe ?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>

                    <div style="display: inline-block" id="cancelCommande"></div>
                </div>
            </div>
        </div>
    </div>
   <center><h2>List des employes</h2></center>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="row">

            <!-- LIST -->

            <div class=col-md-12>
                <form id="form-list-client">
                    <div style="float: right" class="pull-right">
                        <a style="color: white" class="btn btn-default-btn-xs btn-success" data-toggle="modal" data-target="#ModalAjout"><i class="fa fa-plus-circle"></i> Ajouter</a>
                    </div>
                    <table id="ListEmployeTable" class="table table-bordered table-condensed table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Code Employe</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Marche Actuelle</th>
                            <th>Actions</th>
                        </tr>

                        </thead>
                        <tbody id="form-list-client-body">
                        {% for employe in pagination %}
                            <tr>
                                <td>{{ employe.idEmp }}</td>
                                <td>{{ employe.nom }}</td>
                                <td>{{ employe.prenom }}</td>
                                {% if  employe.idMarche %}
                                <td>{{ employe.idMarche }}</td>
                                {% else  %}
                                    <td style="color: red" >Non Affécté</td>
                                    {% endif %}
                                <td>
                                    <a title="edit this user" href="{{ path('employe_edit' , { idEmp : employe.idEmp }) }}" class="btn btn-default btn-sm "> <i class="fa fa-edit text-primary"></i> </a>
                                    <a title="delete this user" class="btn btn-default btn-sm " onclick="return ShowDeleteConfirmation({{ employe.idEmp }})"> <i class="fa fa-trash text-danger"></i> </a>
                                 {% if employe.status == 1 %}
                                    <input id="toggle-event{{ employe.idEmp }}" onchange="return FireAction('{{ employe.idEmp }}')" type="checkbox" checked data-toggle="toggle" data-size="small"  data-onstyle="success" data-offstyle="danger">
                                 {% else  %}
                                     <input id="toggle-event{{ employe.idEmp }}" onchange="return FireAction('{{ employe.idEmp }}')"type="checkbox" data-toggle="toggle" data-size="small"  data-onstyle="success" data-offstyle="danger">
                                 {% endif %}
                                     </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </form>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>



        </div>

    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
    <script src="{{ asset('admin/dist/js/bootstrap-toggle.min.js') }}"></script>
<script>
$(document).ready( function () {

    $("#employe-nav-link").addClass('active');
    $("#ListEmployeTable").DataTable({
      "responsive": true,
      "autoWidth": false,
      "paging": false,
      "info":false
    });});
</script>
<script>

function ShowDeleteConfirmation(idEmp) {
 $('#cancelCommande').html("<button onclick='return DeleteEmploye("+idEmp+")' type=\"button\" class=\"btn btn-danger\">Delete</button>");

$('#myModal').modal('show');
}

function DeleteEmploye(idEmp){
var url = '{{ path("employe_supprimer", {'idEmp': 'idEmp'} ) }}';
                url = url.replace("idEmp", idEmp);
                $.ajax({
                    url: url,

                    success: function(data) {


                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){

                      setTimeout(function(){
location.reload();
}, 1000);
                    }
                });
}
</script>

<script>
  $(function() {
    $('#toggle-event').change(function() {
      alert('Toggle: ' + $(this).prop('checked'));
    })
  })

  function FireAction(idEmp) {
    //alert('Toggle: ' + $("#toggle-event"+idEmp).prop('checked'));
    if ($("#toggle-event"+idEmp).prop('checked') == true){
                $("#ModalMessage").html("Voulez vous vraiment activer cet employe ? ");

                $('#EnableDisable').html("<button onclick='return ConfirmerModification("+idEmp+" , 1)' type=\"button\" class=\"btn btn-danger\">Confirmer</button>");

                $("#ModificationModal").modal('show');
    }
    else {

        $("#ModalMessage").html("Voulez vous vraiment desactiver cet employe ? ");

        $('#EnableDisable').html("<button onclick='return ConfirmerModification("+idEmp+" , 0)' type=\"button\" class=\"btn btn-warning\">Confirmer</button>");

        $("#ModificationModal").modal('show');
    }

    //location.reload();
  }
  
  function ConfirmerModification(idEmp , etat) {

      url2 = '{{ path("set_status_employe", {'idEmp': 'idEmp' , 'status':'status'} ) }}';
                url2 = url2.replace("idEmp", idEmp);
                url2 = url2.replace("status", etat);
                $.ajax({
                    url: url2,

                    success: function(data) {


                    },
                    error: function() {
                        // show alert or something
                    },

                    complete: function(){
                        location.reload();
                    }
                });
    
  }
</script>

{% endblock %}

